/* _content/backend/Pages/Shared/_Layout.cshtml.rz.scp.css */
/* Temel stiller */
a.navbar-brand[b-lgydyc09tj] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-lgydyc09tj] {
  color: #ff0000;
}

.btn-primary[b-lgydyc09tj] {
  color: #fff;
  background: linear-gradient(135deg, #ff0000 0%, #ff3300 100%);
  border: none;
}

.nav-pills .nav-link.active[b-lgydyc09tj], .nav-pills .show > .nav-link[b-lgydyc09tj] {
  color: #fff;
  background: linear-gradient(135deg, #ff0000 0%, #ff3300 100%);
  border: none;
}

.border-top[b-lgydyc09tj] {
  border-top: 1px solid #e5e5e5;
}

.border-bottom[b-lgydyc09tj] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-lgydyc09tj] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-lgydyc09tj] {
  font-size: 1rem;
  line-height: inherit;
}

/* Footer */
.footer[b-lgydyc09tj] {
  position: relative;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
